{#include base}
    {#title}Genders{/title}
    {#content}
        <h1 class="mb-4">Genders</h1>
        <table class="table table-striped table-hover">
            <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {#for gender in genders}
                <tr>
                    <td>{gender.id}</td>
                    <td>{gender.code}</td>
                    <td>{gender.description}</td>
                </tr>
            {/for}
            </tbody>
        </table>
    {/content}
{/include}