<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo-scaffold-round.png" alt="Rescaffold Logo" height="30" class="d-inline-block align-text-top">
            Rescaffold
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/persons-ui">People</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="maintenanceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Maintenance
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="maintenanceDropdown">
                        <li><a class="dropdown-item" href="/genders-ui">Genders</a></li>
                        <li><a class="dropdown-item" href="/titles-ui">Titles</a></li>
                        <li><a class="dropdown-item" href="/id-types-ui">ID Types</a></li>
                        <li><a class="dropdown-item" href="/countries-ui">Countries</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
