{! person : io.archton.scaffold.domain.Person !}
<div id="content-area" class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-7">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <strong>Full Name:</strong>
                    </div>
                    <div class="col-sm-9">
                        <span class="fs-5">{person.displayName}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <strong>Last Name:</strong>
                    </div>
                    <div class="col-sm-9" id="lastName-value">
                        {person.lastName}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <strong>First Name:</strong>
                    </div>
                    <div class="col-sm-9" id="firstName-value">
                        {#if person.firstName}{person.firstName}{#else}-{/if}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <strong>Title:</strong>
                    </div>
                    <div class="col-sm-9">
                        {#if person.title}{person.title.description}{#else}-{/if}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <strong>Gender:</strong>
                    </div>
                    <div class="col-sm-9">
                        {#if person.gender}{person.gender.description}{#else}-{/if}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <strong>National identity document:</strong>
                    </div>
                    <div class="col-sm-9">
                        {#if person.idNumber}{person.idNumber}{#else}-{/if}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <strong>Email:</strong>
                    </div>
                    <div class="col-sm-9" id="email-value">
                        {#if person.email}{person.email}{#else}-{/if}
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Record no.:</strong>
                    </div>
                    <div class="col-sm-7">
                        {person.id}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Created by:</strong>
                    </div>
                    <div class="col-sm-7">
                        {person.createdBy}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Created at:</strong>
                    </div>
                    <div class="col-sm-7">
                        {#if person.createdAt}{person.createdAt.format('yyyy-MM-dd HH:mm')}{#else}-{/if}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Updated by:</strong>
                    </div>
                    <div class="col-sm-7">
                        {#if person.updatedBy}{person.updatedBy}{#else}-{/if}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Updated at:</strong>
                    </div>
                    <div class="col-sm-7">
                        {#if person.updatedAt}{person.updatedAt.format('yyyy-MM-dd HH:mm')}{#else}-{/if}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer bg-light">
        <div class="d-flex gap-2">
            <button type="button"
                    data-testid="back-btn"
                    class="btn btn-outline-secondary btn-sm"
                    hx-get="/persons-ui/table"
                    hx-target="#content-area"
                    hx-swap="innerHTML">
                <i class="bi bi-arrow-left"></i> Back
            </button>
        </div>
    </div>
</div>