{! person : io.archton.scaffold.domain.Person !}
<div id="content-area" class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>Full Name:</strong>
            </div>
            <div class="col-sm-10">
                <span class="fs-5">{person.displayName}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>First Name:</strong>
            </div>
            <div class="col-sm-4" id="firstName-value">
                {#if person.firstName}{person.firstName}{#else}-{/if}
            </div>
            <div class="col-sm-2">
                <strong>Last Name:</strong>
            </div>
            <div class="col-sm-4" id="lastName-value">
                {person.lastName}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>Email:</strong>
            </div>
            <div class="col-sm-10" id="email-value">
                {#if person.email}{person.email}{#else}-{/if}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>Title:</strong>
            </div>
            <div class="col-sm-4">
                {#if person.title}{person.title.description}{#else}-{/if}
            </div>
            <div class="col-sm-2">
                <strong>Gender:</strong>
            </div>
            <div class="col-sm-4">
                {#if person.gender}{person.gender.description}{#else}-{/if}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>ID Type:</strong>
            </div>
            <div class="col-sm-4">
                {#if person.idType}{person.idType.description}{#else}-{/if}
            </div>
            <div class="col-sm-2">
                <strong>ID Number:</strong>
            </div>
            <div class="col-sm-4">
                {#if person.idNumber}{person.idNumber}{#else}-{/if}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>Created By:</strong>
            </div>
            <div class="col-sm-4">
                {person.createdBy}
            </div>
            <div class="col-sm-2">
                <strong>Created At:</strong>
            </div>
            <div class="col-sm-4">
                {#if person.createdAt}{person.createdAt.format('yyyy-MM-dd HH:mm')}{#else}-{/if}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>Updated By:</strong>
            </div>
            <div class="col-sm-4">
                {#if person.updatedBy}{person.updatedBy}{#else}-{/if}
            </div>
            <div class="col-sm-2">
                <strong>Updated At:</strong>
            </div>
            <div class="col-sm-4">
                {#if person.updatedAt}{person.updatedAt.format('yyyy-MM-dd HH:mm')}{#else}-{/if}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2">
                <strong>Active:</strong>
            </div>
            <div class="col-sm-10">
                {#if person.isActive}
                    <span class="badge bg-success">Active</span>
                {#else}
                    <span class="badge bg-danger">Inactive</span>
                {/if}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <small class="text-muted">Record no.: {person.id}</small>
            </div>
        </div>
    </div>

    <div class="card-footer bg-light">
        <div class="d-flex gap-2">
            <button type="button"
                    class="btn btn-outline-secondary btn-sm"
                    hx-get="/persons-ui/table"
                    hx-target="#content-area"
                    hx-swap="innerHTML">
                <i class="bi bi-arrow-left"></i> Back
            </button>
        </div>
    </div>
</div>