{! title : io.archton.scaffold.domain.Title !}
<div id="content-area" class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-7">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <strong>Code:</strong>
                    </div>
                    <div class="col-sm-9">
                        <span class="badge bg-primary fs-6">{title.code}</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <strong>Description:</strong>
                    </div>
                    <div class="col-sm-9">
                        {title.description}
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Record no.:</strong>
                    </div>
                    <div class="col-sm-7">
                        {title.id}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Created by:</strong>
                    </div>
                    <div class="col-sm-7">
                        {title.createdBy}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Created at:</strong>
                    </div>
                    <div class="col-sm-7">
                        {#if title.createdAt}{title.createdAt.format('yyyy-MM-dd HH:mm')}{#else}-{/if}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Updated by:</strong>
                    </div>
                    <div class="col-sm-7">
                        {#if title.updatedBy}{title.updatedBy}{#else}-{/if}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-2">
                        <strong>Updated at:</strong>
                    </div>
                    <div class="col-sm-7">
                        {#if title.updatedAt}{title.updatedAt.format('yyyy-MM-dd HH:mm')}{#else}-{/if}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer bg-light">
        <div class="d-flex gap-2">
            <button type="button"
                    class="btn btn-outline-secondary btn-sm"
                    hx-get="/titles-ui/table"
                    hx-target="#content-area"
                    hx-swap="innerHTML">
                <i class="bi bi-arrow-left"></i> Back
            </button>
        </div>
    </div>
</div>